.owl-controls .owl-buttons{
  position: relative;
}

.owl-controls .owl-prev{
  position: absolute;
  left: -40px;
  bottom: 230px;
  padding: 8px 17px;
  background: #26ccca;
  border-radius: 50px;
  transition: 0.5px;
}

.owl-controls .owl-next{
  position: absolute;
  right: -40px;
  bottom: 230px;
  padding: 8px 17px;
  background: #26ccca;
  border-radius: 50px;
  transition: 0.5px;
}

.owl-controls .owl-prev:after, .owl-controls .owl-next:after{
  content: '\f104';
  font-family: FontAwesome;
  color: #fff;
  font-size: 16px;
}

.owl-controls .owl-next:after{
  content: '\f105';
}

.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover{
  background: #000;

}
